.App {
  max-width:1280px;
  margin:30px auto;
}

.App-logo {
  width:200px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
}

.form, .chart{
  background-color: #ffffff;
  padding:30px;
  border:1px solid #eee;
  border-radius: 4px;
  margin:0 4px;
}

.form{
  padding-bottom:30px;
  min-width: 300px;
}

.charts{
  flex-grow: 1;
}
.chart{
  display: flex;
  justify-content: center;
}

.chart canvas{
  width:100%;
}

.worth{
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f1f2;
  padding:26px 16px 16px;
  border-radius: 4px;
}

.worth span{
  font-size: 14px;
  color: #666;
}

.worth strong{
  margin: 2px 0 10px;
  font-size:22px;
  color:#00bcd4;
}

.worth .smaller{
  font-size:20px;
  font-weight:400;
  color: #006b79;
}

.note{
  font-size:13px;
  color: #999;
  font-style: italic;
  margin:10px 0;
}

.rate-input{
  position: relative;
}

.rate-input input{
  width:82px;
}

.rate-input::after{
  content:"%";
  position: absolute;
  left: 44px;
  bottom: 7px;
  color: #ccc;
}